
<h1>候選人列表</h1>
<a href= "/candidates/new">新增候選人</a>



<div class="candidates_wrap">

<% @candidates.each do |candidate| %>
    <div class="candidate">
        <div class="candidate_pic"> 
            <img src="https://picsum.photos/300/300/?random=1">
        </div>
        <div class="candidate_info">
            <h1><%= candidate.name%> (<%= candidate.age %>)</h1>
            <h2><%= candidate.party%></h2>
            <a href="#" class="more_detail">看政見</a>
        </div>
    </div>
<% end %>
  

</div>