form#candidate_form {
    input[type="text"], textarea{
        font-size: 30px;
        vertical-align: middle;
    }
    div{
        margin: 10px 0;
    }
    input[type="submit"]{
        padding: 20px;
        background-color: #e74c3c;
        color: white;
        border-radius: 18px;
        cursor: pointer;
    }
    div .field_with_errors{
        display: inline;
        input{
            border:1px solid red;
        }
        label{
            color:  red;
            font-weight: 700;
        }
    }
}
a{ color: black; display: inline-block;}

.candidates_wrap{
    width: 100%;
    min-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #dfe4ea;
    
    .candidate{
        width: 30%;
        margin: 10px auto;
        background-color: #dfe6e9;
        border-radius: 10px;
        border:1px solid #747d8c;
        overflow: hidden;
        .candidate_pic img{ width: 100%; }
        .candidate_info{
            padding: 0 5px;
            a{
                display: inline-block;
                width: 23%;
                background-color: #000;
                color: white;
                text-align: center;
                font-size: 30px;
                text-decoration: none;
                border-radius: 10px;
                transition: .5s;
                margin: 0 auto;
            }
            a:last-child{
                background-color: red;
            }
            a:hover{
                background-color: #fff;
                color: black;
            }
        }
    }
    
}