.cart-table{
    width: 80%;
    margin: auto;
    td{
        height: 50px;
        margin: auto;
    }
}

.btn{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    border-radius: 14px;
}

.btn-primary{
    background-color: #000;
}

.btn-danger{
    background-color: red;
}