.top-nav{
    background-color: #ff5e57;
    
    height: 70px;
    line-height: 70px;
    text-align: right;
    li{
        display: inline-block;
        font-size: 30px;
        margin: 0 20px;
        a{
            color: white;
        }
    }


}